<div class="max-w-sm mx-auto space-y-10">
  <div class="space-y-4">
    <h1 class="text-display-sm font-poppins text-neutral-1000">Set new password</h1>
    <p class="text-body-lg text-neutral-700">Your new password must be different to previously used password.</p>
  </div>
  <form [formGroup]="resetForm" (ngSubmit)="reset()" class="space-y-10">
    <div class="space-y-6">
      <div class="relative">
        <button type="button" (click)="showPassword = !showPassword" class="input-icon-right">
          <i [ngClass]="showPassword ? 'ph-eye-slash' : 'ph-eye'"></i>
        </button>
        <input
          appInput
          [type]="showPassword ? 'text' : 'password'"
          label="New Password"
          placeholder="Enter your credentials"
          formControlName="password"
          autocomplete="new-password" />
      </div>
      <div class="relative">
        <button type="button" (click)="showConfirm = !showConfirm" class="input-icon-right">
          <i [ngClass]="showConfirm ? 'ph-eye-slash' : 'ph-eye'"></i>
        </button>
        <input
          appInput
          [type]="showConfirm ? 'text' : 'password'"
          label="Confirm Password"
          placeholder="Confirm your credentials"
          formControlName="confirm"
          autocomplete="new-confirm" />
      </div>
    </div>

    <div class="flex flex-col items-center space-y-4">
      <button appBtn color="primary" class="w-full" type="submit" [disabled]="resetForm.invalid">Reset password</button>
    </div>
  </form>
</div>
