<div class="w-full inline-flex items-center justify-between p-4 border-2 border-gray-100 rounded-md">
  <div class="inline-flex items-start space-x-2 justify-start">
    <i class="ph-file text-2xl text-neutral-700"></i>
    <div class="flex flex-col space-y-1">
      <p class="text-body-xl text-neutral-900 line-clamp-2">
        {{ file!.name }}
      </p>
      <p class="text-body-sm text-neutral-700">
        {{ file!.size | byteToSize }}
      </p>
    </div>
  </div>
  <i *ngIf="success" class="ph-check-circle-fill text-2xl text-success-100"></i>
  <button type="button" *ngIf="!success" (click)="removeFile(file!)"><i class="ph-x-circle text-2xl"></i></button>
</div>
