<div class="p-4">
  <!-- Card -->
  <div
    (mouseenter)="isHovering = true"
    (mouseleave)="isHovering = false"
    class="h-[28rem] max-h-96 pb-2 overflow-hidden rounded-lg shadow-lg bg-white border border-gray-300">
    <!-- Card Header -->
    <div class="relative px-5 py-3 border-b border-gray-200 flex justify-center">
      <h2 class="text-2xl font-semibold text-[#3508c3]">{{ data.name + ' ' + data.lastName }}</h2>
      <i (click)="removePanel(data.id)" class="absolute right-4 ph-x cursor-pointer" *ngIf="isHovering"></i>
    </div>

    <!-- Card Content -->
    <div class="p-5 column-count-2 column-gap-4">
      <ul class="list-disc pl-5">
        <li class="text-xl text-gray-700 mb-2" *ngFor="let exercise of data.routine">
          <span class="font-bold">{{ exercise.exerciseName }}</span> :
          <span *ngIf="exercise.series" [innerHTML]="exercise.series.toString() + ' x ' | exerciseFormat"></span>
          <span [innerHTML]="exercise.reps | exerciseFormat"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
