<form
  [formGroup]="userRoutineForm"
  (ngSubmit)="createRoutine()"
  class="w-full min-w-max bg-white rounded-md ring-1 ring-neutral-400 p-2">
  <div class="flex justify-between pt-2">
    <h2 class="text-2xl text-primary-400 font-semibold pl-4">Rutina</h2>
    <button class="h-8" appBtn color="primary" type="submit" [disabled]="userRoutineForm.invalid">
      {{ routineToEdit ? 'Editar' : 'Crear' }}
    </button>
  </div>

  <div class="justify-around min-w-max flex">
    <div class="w-1/3 p-4">
      <select
        title="days"
        appInput
        label="Dia"
        formControlName="day"
        class="my-2 w-full input-default border border-neutral-600 text-neutral-800 rounded-sm h-9 p-2 font-normal">
        <option *ngFor="let day of daysOfWeek" [value]="day">{{ day }}</option>
      </select>
      <input class="h-9" title="startTime" appInput type="time" label="Inicio" formControlName="startTime" />
      <input class="h-9" title="endTime" appInput type="time" label="Cierre" formControlName="endTime" />
    </div>
    <div class="w-full pt-4 px-4">
      <textarea
        class="resize-none h-[11rem] text-xl font-medium"
        rows="10"
        title="routines"
        appInput
        placeholder="Ejercicio: 3 series de 10 rep. || Angelitos: 10 rep."
        type="text"
        label="Rutina"
        formControlName="exercises"></textarea>
    </div>
  </div>
</form>
