<div class="flex flex-col space-y-6 w-full">
  <app-filters-bar (formValues)="onSearch($event)"
    ><a class="btn-primary button-link" routerLink="/usuarios/create"
      ><i class="ph-plus text-white text-lg"></i> <span>Create user</span></a
    ></app-filters-bar
  >
  <app-table
    [displayedColumns]="displayedColumns"
    [data]="users"
    [total]="total | async"
    [loading]="loading | async"
    (edit)="editUser($event)"
    (deactivate)="desactivateUser($event)">
    <mat-paginator
      appJumpPages
      class="border-t rounded-b-md"
      [length]="total | async"
      [pageSize]="pageSize"
      (page)="paginate($event)">
    </mat-paginator
  ></app-table>
</div>
