<form
  [formGroup]="passwordForm"
  (ngSubmit)="changePassword()"
  class="w-full bg-white rounded-md ring-1 ring-neutral-400">
  <div class="space-y-6 p-6">
    <div class="relative">
      <button type="button" (click)="showCurrent = !showCurrent" class="input-icon-right">
        <i [ngClass]="showCurrent ? 'ph-eye-slash' : 'ph-eye'"></i>
      </button>
      <input
        appInput
        [type]="showCurrent ? 'text' : 'password'"
        label="Current Password"
        placeholder="Enter your current credentials"
        formControlName="current"
        autocomplete="current-password" />
    </div>
    <div class="relative">
      <button type="button" (click)="showPassword = !showPassword" class="input-icon-right">
        <i [ngClass]="showPassword ? 'ph-eye-slash' : 'ph-eye'"></i>
      </button>
      <input
        appInput
        [type]="showPassword ? 'text' : 'password'"
        label="New Password"
        placeholder="Enter your new credentials"
        formControlName="password"
        autocomplete="new-password" />
    </div>
    <div class="relative">
      <button type="button" (click)="showConfirm = !showConfirm" class="input-icon-right">
        <i [ngClass]="showConfirm ? 'ph-eye-slash' : 'ph-eye'"></i>
      </button>
      <input
        appInput
        [type]="showConfirm ? 'text' : 'password'"
        label="Confirm Password"
        placeholder="Confirm your new credentials"
        formControlName="confirm"
        autocomplete="new-confirm" />
    </div>
  </div>

  <div class="w-full inline-flex justify-end items-center space-x-4 border-t p-6">
    <button appBtn color="secondary" type="button" (click)="cancel()">Cancel</button>

    <button appBtn color="primary" type="submit" [disabled]="passwordForm.invalid">Save password</button>
  </div>
</form>
