<div class="w-full overflow-hidden ring-1 ring-neutral-400 shadow-100 rounded-sm">
  <table cdk-table [dataSource]="organizations">
    <ng-container cdkColumnDef="municipality">
      <th cdk-header-cell *cdkHeaderCellDef>Municipality</th>
      <td cdk-cell *cdkCellDef="let element">{{ element.municipality }}</td>
    </ng-container>

    <ng-container cdkColumnDef="state">
      <th cdk-header-cell *cdkHeaderCellDef class="hidden md:table-cell">State</th>
      <td cdk-cell *cdkCellDef="let element" class="hidden md:table-cell">{{ element.state }}</td>
    </ng-container>

    <ng-container cdkColumnDef="seats">
      <th cdk-header-cell *cdkHeaderCellDef class="hidden lg:table-cell">Seats</th>
      <td cdk-cell *cdkCellDef="let element" class="hidden lg:table-cell">{{ element.seats }}</td>
    </ng-container>

    <ng-container cdkColumnDef="status">
      <th cdk-header-cell *cdkHeaderCellDef class="hidden lg:table-cell">Status</th>
      <td cdk-cell *cdkCellDef="let element" class="hidden lg:table-cell">
        <app-badge
          [textBadge]="organizationStatus[element.status]"
          [colorBadge]="
            element.status === organizationStatus.Active ? badgeColor.PRIMARY : badgeColor.ERROR
          "></app-badge>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="memberSince">
      <th cdk-header-cell *cdkHeaderCellDef class="hidden lg:table-cell">Member since</th>
      <td cdk-cell *cdkCellDef="let element" class="hidden lg:table-cell">{{ element.memberSince | date }}</td>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <th cdk-header-cell *cdkHeaderCellDef class="hidden lg:table-cell"></th>
      <td cdk-cell *cdkCellDef="let element" class="hidden lg:table-cell">
        <!-- Actions menu -->

        <button type="button" [matMenuTriggerFor]="actionsMenu">
          <i class="ph-dots-three-vertical-fill text-neutral-700 text-3xl"></i>
        </button>
        <mat-menu #actionsMenu="matMenu" class="w-fit">
          <ng-template matMenuContent>
            <button (click)="emitEditSeats(element.id)" type="button" class="group" mat-menu-item>
              <div class="flex flex-row items-center space-x-2">
                <i class="ph-pencil-simple text-button-lg"></i>
                <span class="group-hover:text-ms-gray-900">Edit seats</span>
              </div>
            </button>

            <button (click)="emitDeactivate(element.id)" type="button" class="group" mat-menu-item>
              <div class="flex flex-row items-center space-x-2">
                <i class="ph-x-circle-fill text-button-lg text-error-100 group-hover:text-error-200"></i>
                <span class="text-error-100 group-hover:text-error-200">Deactivate</span>
              </div>
            </button>
          </ng-template>
        </mat-menu>
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell h-[30vh]" [attr.colspan]="displayedColumns.length">
        <ng-container *ngIf="loading">
          <app-loader [text]="'Loading data...'"></app-loader>
        </ng-container>
        <ng-container *ngIf="!loading && total === 0 && filteredData">
          <div class="flex flex-col text-center justify-center items-center space-y-4">
            <span>No results found. Please try again</span>
          </div>
        </ng-container>
        <ng-container *ngIf="!loading && total === 0 && !filteredData">
          <div class="flex flex-col text-center justify-center items-center space-y-4">
            <span>No data to show</span>
          </div>
        </ng-container>
      </td>
    </tr>
  </table>
  <ng-content></ng-content>
</div>
