<div class="flex flex-col items-start space-y-4 w-full">
  <label class="relative inline-flex cursor-pointer">
    <input type="checkbox" class="sr-only peer" [ngModel]="checked" (ngModelChange)="onModelChange($event)" />
    <div
      class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-success-500 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[1px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary-400"></div>
    <span class="flex flex-grow flex-col pl-5 text-14">
      <span class="text-body-xxl text-neutral-1000">{{ title }}</span>
      <span class="text-body-md text-neutral-700"> {{ caption }}</span>
    </span>
  </label>
</div>
