<ng-container *ngIf="!requestCompleted; else checkEmail">
  <div class="max-w-sm mx-auto space-y-10">
    <div class="space-y-4">
      <h1 class="text-display-sm font-poppins text-neutral-1000">Forgot password?</h1>
      <p class="text-body-lg text-neutral-700">No worries, we’ll send you reset instructions.</p>
    </div>
    <form [formGroup]="forgotForm" (ngSubmit)="forgot()" class="space-y-10">
      <div class="space-y-6">
        <input
          appInput
          type="text"
          label="Work email"
          placeholder="Enter your work email"
          formControlName="email"
          autocomplete="new-email" />
      </div>

      <div class="flex flex-col items-center space-y-4">
        <button appBtn color="primary" class="w-full" type="submit" [disabled]="forgotForm.invalid">
          Reset Password
        </button>
        <a routerLink="/auth/login" class="w-full btn-secondary px-5 py-2 rounded-sm">
          <div class="w-full space-x-2 flex justify-center items-center">
            <i class="ph-arrow-left text-body-md"></i>
            <span>Back to login</span>
          </div>
        </a>
      </div>
    </form>
  </div>
</ng-container>
<ng-template #checkEmail>
  <app-check-email [email]="forgotForm.value.email"></app-check-email>
</ng-template>
